<h2>Add a Reminder</h2>

<form [formGroup]="addReminderForm" (ngSubmit)="onSubmit(addReminderForm.value)">

    <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="description">Description</label>
        <textarea id="description" type="text" formControlName="description"></textarea>
    </div>
    <br>
    <div>
        <label for="date">Date</label>
        <input id="date" matInput [min]="minDate" [max]="" [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
    </div>

    <div>
        <label for="time">Time</label>
        <div id="time">
            <select id="hour" formControlName="hour">
                <option></option>
                <option *ngFor="let in of counter(12); let i=index">
                    {{((i + 1) < 10) ? 0 : ''}}{{i + 1}}
                </option>
            </select>
            :
            <select id="min" formControlName="min">
                <option></option>
                <option *ngFor="let in of counter(60); let i=index">
                    {{((i) < 10) ? 0 : ''}}{{i}}
                </option>
            </select>

            <select id="meridian" formControlName="meridian">
                <option>am</option>
                <option>pm</option>
            </select>
        </div>
    </div>

    <br>

    <!--
    <div>
        <label for="noteTime">Notification Time</label>
        <input id="noteTime" type="text" formControlName="noteTime">
    </div>
    -->

    <button class="button button-space" type="submit">Add Reminder</button>
    <button class="button button-space" [routerLink]="['/']">Back</button>

</form>
