<a [routerLink]="['/']" xmlns="http://www.w3.org/1999/html">
    <h1>Reminder App</h1>
</a>

<div>
    <!--<a [routerLink]="['/cart']" class="button fancy-button button-space"><i class="material-icons">shopping_cart</i>Checkout</a>-->
    <span *ngIf="currentUser" [style.color]="'white'" class="button-space">Welcome, {{currentUser.username+"#"+currentUser.user_id}}</span>
    <a *ngIf="!currentUser" [routerLink]="['/login']" class="button fancy-button button-space"><i class="material-icons">alarm</i>Login</a>
    <a *ngIf="!currentUser" [routerLink]="['/register']" class="button fancy-button button-space"><i class="material-icons">alarm</i>Register</a>
    <a *ngIf="currentUser" (click)="logout()" class="button fancy-button button-space"><i class="material-icons">alarm</i>Logout</a>
    <a *ngIf="currentUser" [routerLink]="['/cart']" class="button fancy-button button-space"><i class="material-icons">alarm</i>Reminders</a>
    <a *ngIf="currentUser" class="button fancy-button button-space" [matMenuTriggerFor] = "menu"><i class="material-icons">build</i>Account</a>

    <mat-menu #menu = "matMenu">
        <button [routerLink]="['/settings']" mat-menu-item>Settings</button>
        <button mat-menu-item>Log Out</button>
        <button mat-menu-item [matMenuTriggerFor] = "recent">Recent</button>
    </mat-menu>
    <mat-menu #recent = "matMenu">
        <button mat-menu-item>File 1</button>
        <button mat-menu-item>File 2</button>
    </mat-menu>

</div>

<!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <button type="button" class="btn btn-secondary">1</button>
  <button type="button" class="btn btn-secondary">2</button>

  <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Dropdown link</a>
      <a class="dropdown-item" href="#">Dropdown link</a>
    </div>
  </div>
</div>-->

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license

-->
